.button {
  font-family: 'Work Sans', sans-serif;
  width: fit-content;
  min-width: 150px;
  border: none;
  padding: 10px 30px;
}

.button-primary {
  &--white {
    background-color: $alabaster;

    &:hover {
      box-shadow: 0 0 3px 0 $alabaster;
    }
  }

  &--bone {
    background-color: $bone;

    &:hover {
      box-shadow: 0 0 3px 0 $bone;
    }
  }
}