// Primary
$plain-white: #ffffff;
$cultured: #f2f2f2;
$gainsboro: #e0e0e0;
$grey-x: #bdbdbd;
$davys-grey: #4f4f4f;
$jet: #333333;

// Secondary
$alabaster: #f3f1e8;
$bone: #d5c6b1;
$cafe-lait: #b38a6a;
$blast-off: #8c6c5f;
$wine: #6f3132;
$burgandy: #4c2e2e;

// Special
$camel: #cca266;